.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color: rgb(246, 112, 0);
  color: white;
  padding: 25px;
  border-radius: 100px;
  cursor: pointer;
  border-style: solid;
  border-color: rgb(246, 112, 0);
  transition: 0.3s;
}

.scroll-to-top:hover {
  background-color: rgb(41, 38, 38);
  transition: 0.3s;
}

.dropdown {
  display: none;
  z-index: 1;
}

.about-us-title{
  color: rgb(246, 112, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 5%;
}

.nas-tym{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 50px;
}

.clen-tymu{
  width: 250px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  filter: grayscale(100%);
  margin-bottom: 50px;
  transition: 0.5s;
}

.clen-tymu:hover{
  transition: 0.5s;
  transform: scale(1.2);
  filter: grayscale(0%);
}

.clen-tymu-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 230px;
}

.smart-home-img{
  border-radius: 30px;
  width: 500px;
  height: 333px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
  
}

.camera-img{
  border-radius: 30px;
  width: 500px;
  height: 333px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  
}


.clen-tymu-text{
  background-color: rgb(246, 112, 0);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 20px;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 10px;
  border-style: solid;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  transition: 0.3s;
}

.dropbtn:hover{
  background-color: rgb(66, 66, 66);
  transition: 0.3s;
}

/* Styly pro obsah dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content a:hover {
  background-color: rgb(66, 66, 66);
}


.text_podminky {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  
}

.network-img{
  width: 45%;
  animation: slideIn 1.25s ease-in-out;
}

#logo-div{
  margin-left: 15px;
  margin-top: 15px;
  
}

#logo{
  width: 75%;
  height: 75%;
  flex-shrink: 1;
}

#main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}


#buttons{
  display: flex;
  min-width: 200px;
  gap: 20px;
  flex-shrink: 1;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.language{
  width: 48px;
  height: 41px;
  border-radius: 10px;
  border: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  transition: 0.3s;
}
.language:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(123, 122, 122);
  color: white;
}


.button{
  background-color: rgb(41, 38, 38);
  font-size: 17px;
  color: white;
  border-style: none;
  padding: 5px;
  flex-shrink: 1;
  transition: 0.4s;
}


.button:hover{
  border-style: none;
  border-bottom: solid;
  border-color: rgb(246, 112, 0);
  border-width: 3px;
  padding-bottom: 15px;
  cursor: pointer;
  transition: 0.4s;
}

#first-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  animation: slideIn 1.25s ease-in-out;
}

#main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(246, 112, 0);
  gap: 40px;
  width: 100%;
  margin-top: 20px;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.help-button{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 250px;
  min-height: 70px;
  font-size: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(41, 38, 38);
  border-width: 3px;
  background-color: rgb(41, 38, 38);
  transition: 0.4s;
  animation: slideIn 1.25s ease-in-out;
}

.help-button:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(246, 112, 0);
}

#title-text{
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.title{
  color: rgb(246, 112, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  margin-left: 5%;
  
}



.text{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;

}

.jak-to-funguje{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 70px;
  gap: 50px;
}


/* TODO: pohrát si s tím tak, aby to bylo v loopu → skončí poslední a začne první */
/* TODO: dodělat, aby se to aplikovalo až když sjedu na tuto část obrazovky. */
@keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.jtf-krouzek {
  display: flex;
  background-color: rgb(246, 112, 0);
  border-radius: 100%;
  min-height: 100px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  animation-fill-mode: forwards;
}

.jtf-cast1 {
  animation: scaleIn 1s ease-in-out 0s, scaleOut 1s ease-in-out 0s;
}

.jtf-cast2 {
  animation: scaleIn 1s ease-in-out 1s, scaleOut 1s ease-in-out 2s;
}

.jtf-cast3 {
  animation: scaleIn 1s ease-in-out 3s, scaleOut 1s ease-in-out 4s;
}



.jtf-cast1, .jtf-cast2, .jtf-cast3{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.jtf-title{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.jtf-text{
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.second-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.ending-div{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ending-title{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 43px;
}

.ending-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}




.send-email-button{
  font-family: Arial, Helvetica, sans-serif;
  width: 326px;
  height: 96px;
  font-size: 35px;
  border-radius: 20px;
  border-style: none;
  transition: 0.4s;
}

.send-email-button:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(246, 112, 0);
}

.button-div{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.email-div{
  margin-top: 100px;
  background-image: url(images/question-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 1px;
  padding-bottom: 20px;
}



#safety-text-div{
  margin-top: 130px;
  margin-bottom: 130px;
 
}

.prices{
  display: flex;
  justify-content: space-around;
  
  
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 15px;
}

.service{
  border-style: solid;
  background-color: rgb(28, 26, 26);
  border-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  
  justify-content: space-between;
  align-items: center;
}

.service-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  margin-left: 27px;
  margin-right: 27px;
 
}

.service-text_tittle{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 27px;
  margin-right: 27px;
  font-weight: bold;
 
}

.service-text-sub-tittle{

  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 27px;
  margin-right: 27px;

}


.price-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: none;
  border-bottom: solid;
  border-top: solid;
  background-color: rgb(32, 30, 28);
  width: 100%;
  height: 40px;
  margin-bottom: 20px;

}


.question-div{
  display: flex;
  justify-content: center;
 
}

.email-info{
  padding: 50px;
  background-color: #2B2B2B;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px 150px 60px;
  gap: 20px;
}

.input{
  background-color: #2B2B2B;
  color: white;
  border: none;
  border-bottom: solid;
  border-color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.input:focus{
  border-color: rgb(246, 112, 0);
  outline-style: none;
}



.email-input{
  grid-column: span 2;
  
}



.message-input{
  grid-column: span 2;
  border-style: solid;
  border-radius: 10px;
  resize: none;
}

.send-button{
  font-size: 20px;
  border-radius: 15px;
  border-style: none;
  transition: 0.4s;
}

.send-button:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(246, 112, 0);
}

.icons {
  display: flex;
  margin-left: 95px;
  margin-right: 50px;
  gap: 10px;
}


.icon {
  width: 50px;
  animation: pulse 2s infinite;
}

/* icon animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.qr-div{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.qr-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
  text-align: center;
}

.copy-button{
  background-image: url(images/image\ 1.png);
  height: 32px;
  width: 34px;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: none;
}

.copy-button:hover{
  cursor: pointer;
}



.carousel-inner{
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
}


.reference-div{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

.reference-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.reference-nadpis{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
}



.reference-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.reference-images{
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 500px;
  gap: 20px;
}








  


@media screen and (max-width: 1100px){

  .dropdown{
    display: block;
  }

  #logo-div{
    margin-left: 5px;
  }

  

  #buttons{
    display: none;
  }

  

  .button{
  
    background-color: black;
    font-size: 15px;
    color: white;
    border-style: none;
    padding: 5px;
    border-radius: 10px;
    flex-shrink: 1;
    border-radius: 7px;
  }

 
.jtf-krouzek{
  min-width: 75px;
  min-height: 75px;
  font-size: 25px;
}
  


  #main-page{
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 30px;
  }

  .help-button{
    width: 200px;
    height: 70px;
    font-size: 20px;
  }

  .title{
    font-size: 25px;
  }

  .about-us-title{
    font-size: 20px;
  }

  .nas-tym{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clen-tymu{
    width: 65%;
    margin-bottom: 0;
    filter: grayscale(0%);
  }

  .clen-tymu:hover{
    transform: scale(1);
  }

  .clen-tymu-info{
    width: 70%;
    height: auto;
    margin-bottom: 50px;
  }

  .text{
    font-size: 15px;
  }

  #safety-text-div{
    margin-top: 70px;
  }

  .ending-div{
    padding: 0;
  }

  .ending-title{
    font-size: 19px;
  }

  .ending-text{
    font-size: 13px;
  }

  .send-email-button{
    width: 200px;
    height: 70px;
    font-size: 20px;
  }

  .button-div{
    margin-top: 40px;
  }

  .prices{
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 25px;
    

  }

  .service{
    min-height: 250px;
    
  }



  .email-info{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 150px 60px;
    gap: 10px;
    padding: 4%;
  }

  .icons{
    margin-left: 45px;
  }

  .qr{
    width: 300px;
  }

  .qr-text{
    font-size: 20px;
  }

  .language{
    margin-left: 10px;
  }


  .reference-div{
    grid-template-columns: 100%;
  }



  .reference-text{
    font-size: 15px;
    
  }
  

  .scroll-to-top {
    bottom: 10px;
    right: 10px;
    padding: 15px;
  }


  
}



@media screen and (max-width: 500px){
  #logo-div{
    width: 200px;
  }

  .jak-to-funguje{
    margin: 0;
    
  }
  .jtf-cast{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .reference-images{
    grid-template-columns: 350px;
    grid-template-rows: 350px;
  }

  .network-img{
    display: none;
  }

 

}
