body{
  background-image: url(images/unsplash_Im7lZjxeLhg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
}
#logo-div{
  margin-left: 10px;
}

#logo{
  width: 100%;
  height: 100%;
  flex-shrink: 1;
}

#main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#buttons{
  display: flex;
  min-width: 200px;
  gap: 10px;
  margin-right: 60px;
  flex-shrink: 1;
}


.button{
  
  background-color: black;
  font-size: 25px;
  color: white;
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  flex-shrink: 1;
}

.button:hover{
  background-color: rgb(47, 47, 47);
  cursor: pointer;
  transition: 0.4s;
  align-self: center;
}

#first-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 80px;  

}

#main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 50px;
}

#help-button{
  font-family: Arial, Helvetica, sans-serif;
  width: 326px;
  height: 96px;
  font-size: 35px;
  border-radius: 20px;
  border-style: none;
}

#help-button:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: rgb(191, 191, 191);
}

#title-text{
  margin-top: 280px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.title{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-left: 5%;
  
}

.text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-left: 5%;
  margin-right: 5%;
}

.second-background{
  background-image: url(images/Rectangle\ 3.png);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.ending-div{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



#safety-text-div{
  margin-top: 130px;
  margin-bottom: 130px;
}

@media (max-width: 700px){
  #logo-div{
    margin-left: 0;
  }

  

  #buttons{
    flex-shrink: 1;
    margin-right: 0;
  }

  .button{
  
    background-color: black;
    font-size: 15px;
    color: white;
    border-style: none;
    padding: 5px;
    border-radius: 10px;
    flex-shrink: 1;
    
  }
  #first-text{
    font-size: 30px;  
    margin: 0;
  }
  #main-page{
    margin-top: 50px;
    gap: 30px;
  }

  #help-button{
    width: 200px;
    height: 70px;
    font-size: 20px;
  }

  #title-text{
    margin-top: 100px;
  }

  .title{
    font-size: 30px;
  }

  .text{
    font-size: 20px;
  }

  #safety-text-div{
    margin-top: 70px;
  }

  .ending-div{
    padding: 0;
  }
  
}